@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';
.fi-body {
    @apply bg-red-50 dark:bg-gray-900 dark:border-gray-700;
}
.fi-sidebar {
    @apply bg-white dark:bg-transparent !important;
}
.fi-header-heading{
    @apply  lowercase !important;
}
.fi-header-heading::first-letter{
    text-transform: uppercase !important;
}
